body {
  font-family: 'Times New Roman', Times, serif;
  background: none;
}

header, nav {
  display: none;
}

h1, h2, h3 {
  color: #000;
  font-family: 'Times New Roman', Times, serif;
}

.main {
  min-height: auto;
}

.nysida {
  page-break-before: always;
}
